$primary:       #eccacc;
$info:          rgb(160, 113, 113);
$secondary:     #453D4A;
@import "../node_modules/bootstrap/scss/bootstrap";
$success:       $green;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
