@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

* {
    box-sizing: unset;
}

/* whole background */
body {
    background-color: rgb(236, 217, 217);
    margin: 0;
    padding: 0;
}

/* position navigation bar */
.headerroom {
    display: flex;
    background-color: #eccacc;
    width: 100%;
    position: absolute;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.headerroom img {
    padding: 20px 20px 20px 60px;
    width: 150px;
}

/* nak bagi melintang - content bar */
.headerroom ul {
    display: flex;
    padding-right: 50px;
}

/* tak nak ada point */
.headerroom ul li {
    list-style: none;
    margin: 0 10px;
}

/* tulisan header */
.headerroom ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

/* bagi putih bila tunjuk */
.headerroom ul li a:hover {
    background-color: #453D4A;
    transition: 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.text-danger strong {
    color: #9f181c;
}

.receipt-main {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 12px solid #333333;
    border-top: 12px solid #9f181c;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #acacac;
    color: #333333;
    font-family: open sans;
}

.receipt-main p {
    color: #333333;
    font-family: open sans;
    line-height: 1.42857;
}

.receipt-footer h1 {
    font-size: 15px;
    font-weight: 400 !important;
    margin: 0 !important;
}

.receipt-main::after {
    background: #414143 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -13px;
}

.receipt-main thead {
    background: #414143 none repeat scroll 0 0;
}

.receipt-main thead th {
    color: #fff;
}

.img-responsive
{
    width: 200px; 
    border-radius: 10px;
    padding-bottom: 10px;
}

.receipt-right h5 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 7px 0;
    font-family: 'Gabriela', serif;
}

.receipt-right p {
    font-size: 12px;
    margin: 0px;
}

.receipt-right p i {
    text-align: center;
    width: 18px;
}

.receipt-main td {
    padding: 9px 20px !important;
}

.receipt-main th {
    padding: 13px 20px !important;
}

.receipt-main td {
    font-size: 13px;
    font-weight: initial !important;
}

.receipt-main td p:last-child {
    margin: 0;
    padding: 0;
}

.receipt-main td h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

.receipt-header-mid .receipt-left h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: right;
    text-transform: uppercase;
}

.receipt-header-mid {
    margin: 24px 0;
    overflow: hidden;
}

#container {
    background-color: #dcdcdc;
}

.exploremorebutton {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

/* book more button */
.bookmorebutton a
{
    /* display: inline-block; */
    padding: 10px 30px;
    background-color: #FFF;
    color: rgb(47, 47, 47);
    transition: 0.3s;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.bookmorebutton a:hover
{
    background-color: #453D4A;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

/* print button */
.printbutton a
{
    /* display: inline-block; */
    padding: 10px 30px;
    background-color: #FFF;
    color: rgb(47, 47, 47);
    transition: 0.3s;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.printbutton a:hover
{
    background-color: #453D4A;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

/* footer */
section {
    padding: 80px 15% 70px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 3.5rem;
    background: #411900;
    position: absolute;
    left: 0;
    right: 0;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

span {
    color: rgb(160, 113, 113);
}

.footer-content li {
    margin-bottom: 16px;
}

.footer-content li a {
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: white;
}

.footer-content p {
    color: #d6d6d6;
    font: 16px;
    line-height: 30px;
    margin: 20px 0;
}

.icon {
    text-align: end;
}

.icon a {
    display: inline-block;
    font-size: 25px;
    color: rgb(236, 217, 217);
    margin-right: 20px;
    transition: all .40s ease;
}

.icon a:hover {
    color: white;
    transform: translateY(-5px);
}

.footername {
    font-family: 'Gabriela', serif;
    font-size: 20px;
    color: white;
}